// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Layouts
// -------------------------------------------------------------

.header,
.main,
.footer {
  float: left;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.header {
  // min-height: 80px;
}

.fixed-header {
  @include fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.footer {
  // min-height: 80px;
}

// Note: when using sticky footer it's important
// header & footer have fixed heights.
.sticky-footer {
  @include sticky;
  float: left;
  margin: 0;
  max-width: 100%;
  min-height: calc(100vh - 96px); // Minus the height of the header and footer.
  padding: 0;
  width: 100%;
}

.primary,
.secondary,
.tertiary {
  float: left;
  min-width: 100%;
}

.primary {
  background-color: white;
}

.secondary {
  background-color: white;
}

.tertiary {
  background-color: black;
}

// Layout Setup
.main {
  padding: 88px 0 0;
  .top {
    float: left;
    width: 100%;
  }
  .middle {
    float: left;
    width: 100%;
  }
  .bottom {
    float: left;
    width: 100%;
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .sticky-footer {
    min-height: calc(100vh - (128px));
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .sticky-footer {
    min-height: calc(100vh - (128px));
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .sticky-footer {
    min-height: calc(100vh - (112px));
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
}
