// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Font Sizes
// -------------------------------------------------------------

@mixin font-size-xxs {
  font-size: 10px;
  line-height: 18px;
  min-height: 18px;
}

@mixin font-size-xs {
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

@mixin font-size-s {
  font-size: 14px;
  line-height: 22px;
  min-height: 22px;
}

@mixin font-size-m {
  font-size: 16px;
  line-height: 24px;
  min-height: 24px;
}

@mixin font-size-l {
  font-size: 20px;
  line-height: 32px;
  min-height: 32px;

  // Media Query 240px
  // -------------------------------------------------------------
  @media #{$xxs} {
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
  }

  // Media Query 360px
  // ------------------------------------------------------------
  @media #{$xs} {
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
  }

  // Media Query 480px
  // -------------------------------------------------------------
  @media #{$s} {
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
  }
}

@mixin font-size-xl {
  font-size: 24px;
  line-height: 40px;
  min-height: 40px;

  // Media Query 240px
  // -------------------------------------------------------------
  @media #{$xxs} {
    font-size: 20px;
    line-height: 32px;
    min-height: 32px;
  }

  // Media Query 360px
  // ------------------------------------------------------------
  @media #{$xs} {
    font-size: 20px;
    line-height: 32px;
    min-height: 32px;
  }

  // Media Query 480px
  // -------------------------------------------------------------
  @media #{$s} {
    font-size: 20px;
    line-height: 32px;
    min-height: 32px;
  }
}

@mixin font-size-xxl {
  font-size: 32px;
  line-height: 48px;
  min-height: 48px;

  // Media Query 240px
  // -------------------------------------------------------------
  @media #{$xxs} {
    font-size: 24px;
    line-height: 40px;
    min-height: 40px;
  }

  // Media Query 360px
  // ------------------------------------------------------------
  @media #{$xs} {
    font-size: 24px;
    line-height: 40px;
    min-height: 40px;
  }

  // Media Query 480px
  // -------------------------------------------------------------
  @media #{$s} {
    font-size: 24px;
    line-height: 40px;
    min-height: 40px;
  }
}

@mixin font-size-display {
  font-size: 64px;
  line-height: 96px;
  min-height: 96px;

  // Media Query 240px
  // -------------------------------------------------------------
  @media #{$xxs} {
    font-size: 32px;
    line-height: 48px;
    min-height: 48px;
  }

  // Media Query 360px
  // ------------------------------------------------------------
  @media #{$xs} {
    font-size: 32px;
    line-height: 48px;
    min-height: 48px;
  }

  // Media Query 480px
  // -------------------------------------------------------------
  @media #{$s} {
    font-size: 32px;
    line-height: 48px;
    min-height: 48px;
  }
}

// Classes
// -------------------------------------------------------------
.font-size-xxs {
  @include font-size-xxs;
  p, div { @include font-size-xxs; }
}

.font-size-xs {
  @include font-size-xs;
  p, div { @include font-size-xs; }
}

.font-size-s {
  @include font-size-s;
  p, div { @include font-size-s; }
}

.font-size-m {
  @include font-size-m;
  p, div { @include font-size-m; }
}

.font-size-l {
  @include font-size-l;
  p, div { @include font-size-l; }
}

.font-size-xl {
  @include font-size-xl;
  p, div { @include font-size-xl; }
}

.font-size-xxl {
  @include font-size-xxl;
  p, div { @include font-size-xxl; }
}

.font-size-display {
  @include font-size-display;
  p, div { @include font-size-display; }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
}
