// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Brand
// -------------------------------------------------------------

$class: "brand";

.#{$class} {
  float: left;
  position: fixed;
  left: 0;
  visibility: visible;
  z-index: 999999 !important;
  .#{$class}-box {
    float: left;
    list-style: none;
    margin: 0;
    padding: 8px;
    .#{$class}-item {
      float: left;
      padding: 8px;
      &.#{$class}-icon {
        .link {
          height: 24px;
          width: 23.09px;
          .icon {
            height: inherit;
            width: inherit;
          }
        }
      }
      &.#{$class}-logo {
        .link {
          height: 24px;
          width: 152.02px;
          .icon {
            height: inherit;
            width: inherit;
          }
        }
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
