// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Brand
// -------------------------------------------------------------

$class: "brand";

.#{$class} {
  float: left;
  .#{$class}-box {
    float: left;
    list-style: none;
    margin: 0;
    padding: 16px;
    .#{$class}-item {
      float: left;
      padding: 16px;
      &.#{$class}-icon {
        .link {
          height: 24px;
          width: 23.09px;
          .icon {
            height: inherit;
            width: inherit;
          }
        }
      }
      &.#{$class}-logo {
        .link {
          height: 24px;
          width: 152.02px;
          .icon {
            height: inherit;
            width: inherit;
          }
        }
      }
      &.#{$class}-desktop {
        display: block;
        visibility: visible;
      }
      &.#{$class}-mobile {
        display: none;
        visibility: hidden;
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-box {
      padding: 16px 0 ;
      .#{$class}-item {
        &.#{$class}-desktop {
          display: none;
          visibility: hidden;
        }
        &.#{$class}-mobile {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-box {
      padding: 16px 0;
      .#{$class}-item {
        &.#{$class}-desktop {
          display: none;
          visibility: hidden;
        }
        &.#{$class}-mobile {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-box {
      padding: 16px 0 ;
      .#{$class}-item {
        &.#{$class}-desktop {
          display: none;
          visibility: hidden;
        }
        &.#{$class}-mobile {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
