// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Editorials
// -------------------------------------------------------------

$class: "editorials";

.#{$class} {
  float: right;
  padding: 0;
  width: 100%;
  .#{$class}-box {
    float: left;
    list-style: none;
    width: 100%;
    .#{$class}-row {
      float: left;
      width: 100%;
    }
    .#{$class}-inner {
      float: left;
      padding: 32px;
      width: 100%;
    }
    .#{$class}-left {
      float: left;
      padding: 32px;
      width: 35%;
    }
    .#{$class}-right {
      float: right;
      padding: 32px;
      width: 65%;
    }
  }
  .#{$class}-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  &.#{$class}-2-1 { width: calc(100% / 2) }
  &.#{$class}-3-1 { width: calc(100% / 3) }
  &.#{$class}-3-2 { width: calc((100% / 3) * 2) }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-inner {
        padding: 16px;
      }
      .#{$class}-left {
        padding: 8px 16px 16px;
        width: 100%;
      }
      .#{$class}-right {
        float: left;
        padding: 16px 16px 8px;
        width: 100%;
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-inner {
        padding: 16px;
      }
      .#{$class}-left {
        padding: 8px 16px 16px;
        width: 100%;
      }
      .#{$class}-right {
        float: left;
        padding: 16px 16px 8px;
        width: 100%;
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-inner {
        padding: 16px;
      }
      .#{$class}-left {
        padding: 8px 16px 16px;
        width: 100%;
      }
      .#{$class}-right {
        float: left;
        padding: 16px 16px 8px;
        width: 100%;
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}
