// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Hero
// -------------------------------------------------------------

$class: "hero";

.#{$class} {
  // background-color: red;
  float: left;
  margin: 88px 0 0;
  width: 720px;
  .#{$class}-box {
    float: left;
    padding: 16px;
    width: 100%;
    .#{$class}-row {
      float: left;
      padding: 16px;
      width: 100%;
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    margin: 48px 0 0;
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-row {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    margin: 48px 0 0;
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-row {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    margin: 48px 0 0;
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-row {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
    }
  }
}
