// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Menu Mobile Trigger
// -------------------------------------------------------------

$class: "menu-mobile-trigger";

.#{$class} {
  float: right;
  display: block;
  position: fixed;
  right: 0;
  visibility: visible;
  z-index: 999999 !important;
  .#{$class}-box {
    float: left;
    list-style: none;
    margin: 0;
    padding: 8px;
    width: auto;
    .#{$class}-item {
      float: left;
      margin: 0;
      padding: 8px;
      width: auto;
      svg {
        float: left;
        height: 24px;
        margin: 0;
        width: 24px;
      }
    }
  }
}


// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    display: block;
    visibility: visible;
    .#{$class}-box {
      padding: 8px 0;
      .#{$class}-item {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    display: block;
    visibility: visible;
    .#{$class}-box {
      padding: 8px 0;
      .#{$class}-item {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    display: block;
    visibility: visible;
    .#{$class}-box {
      padding: 8px 0;
      .#{$class}-item {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
