// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Menu Mobile
// -------------------------------------------------------------

$class: "menu-mobile";

.#{$class} {
  background-color: $black;
  bottom: 0;
  float: left;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
  .#{$class}-box {
    float: left;
    list-style: none;
    margin: 0;
    padding: 24px;
    position: absolute;
    top: 20%;
    width: 240px;
    .#{$class}-item {
      float: left;
      margin: 0;
      padding: 8px;
      width: 100%;
      .link-l {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
  &.#{$class}-show {
    opacity: 1;
    transition: opacity .50s;
    visibility: visible;
  }
  &.#{$class}-hide {
    opacity: 0;
    transition: opacity 0s, visibility 0s 0s;
    visibility: hidden;
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
    &.#{$class}-show {
      display: none;
      visibility: hidden;
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
    &.#{$class}-show {
      display: none;
      visibility: hidden;
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
    &.#{$class}-show {
      display: none;
      visibility: hidden;
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
    &.#{$class}-show {
      display: none;
      visibility: hidden;
    }
  }
}
