// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Menu
// -------------------------------------------------------------

$class: "menu";

.#{$class} {
  float: right;
  .#{$class}-box {
    float: left;
    list-style: none;
    margin: 0;
    padding: 16px;
    width: auto;
    .#{$class}-item {
      float: left;
      margin: 0;
      padding: 16px;
      width: auto;
    }
  }
}


// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    display: none;
    height: 0;
    visibility: hidden;
    width: 0;
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
