// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Networks
// -------------------------------------------------------------

$class: "networks";

.#{$class} {
  float: right;
  width: auto;
  .#{$class}-box {
    float: left;
    list-style: none;
    padding: 16px;
    width: auto;
    &.no-padding {
      padding: 0;
    }
    .#{$class}-item {
      float: left;
      margin: 0;
      padding: 16px 16px 16px 0;
      width: auto;
      &:first-child {
        padding: 16px;
      }
      .icon {
        background-color: $black;
        border-radius: 4px;
        height: 32px;
        width: 32px;
        img {
          border-radius: 4px;
        }
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-item {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-item {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-item {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
