// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Overlay
// -------------------------------------------------------------

$class: "overlay";

.#{$class} {
  background-color: $white;
  bottom: 0;
  float: left;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 999999;
  .#{$class}-close {
    position: absolute;
    right: 32px;
    top: 32px;
    height: 24px;
    width: 24px;
    z-index: 9999999;
  }
  &.#{$class}-show {
    opacity: 1;
    transition: opacity .50s;
    visibility: visible;
  }
  &.#{$class}-hide {
    opacity: 0;
    transition: opacity .50s, visibility 0s .50s;
    visibility: hidden;
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-close {
      right: 16px;
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-close {
      right: 16px;
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-close {
      right: 16px;
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
  }
}
