// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Social Networks Primary
// -------------------------------------------------------------

$class: "social-networks-primary";

.#{$class} {
  float: right;
  width: auto;
  .#{$class}-box {
    float: left;
    list-style: none;
    width: auto;
    .#{$class}-item {
      float: left;
      margin: 0;
      padding: 16px 16px 16px 0;
      width: auto;
      &:first-child {
        padding: 16px;
      }
      .icon {
        position: relative;
        border-radius: 3px;
        height: 32px;
        width: 32px;
        img {
          border-radius: 3px;
          // z-index: -1px !important;
        }
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      .#{$class}-item {
        padding: 8px 8px 8px 0;
        &:first-child {
          padding: 8px;
        }
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      .#{$class}-item {
        padding: 8px 8px 8px 0;
        &:first-child {
          padding: 8px;
        }
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      .#{$class}-item {
        padding: 8px 8px 8px 0;
        &:first-child {
          padding: 8px;
        }
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
