// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Swiper
// -------------------------------------------------------------

$class: "swiper";

.#{$class} {
  background-color: transparent;
  float: left;
  width: 100vw;
  .#{$class}-wrapper {
    background-color: transparent;
    float: left;
    width: 100vw;
    .#{$class}-slide {
      background-color: transparent;
      background-color: $white;
      float: left;
      width: 100vw;
    }
  }
  .#{$class}-box {
    background-color: $black;
    display: block;
    float: left;
    height: 100vh;
    padding: 32px;
    width: 100vw;
    figure {
      background-color: $black;
      max-height: calc(100vh - 64px) !important;
      img {
        // @include appear-animation(.25s);
        border-radius: 3px;
        float: left;
        max-height: calc(100vh - 96px) !important;
      }
      figcaption {
        @include font-size-xs;
        color: $white;
        font-family: $mono;
        padding: 8px 0 0;
      }
    }
    &.#{$class}-show {
      // opacity: 1;
      // transition: opacity .50s;
      visibility: visible;
    }
    &.#{$class}-hide {
      // opacity: 0;
      // transition: opacity .50s, visibility 0s .50s;
      visibility: hidden;
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-box {
      padding: 16px;
      figure {
        max-height: calc(100vh - 32px) !important;
        img {
          max-height: calc(100vh - 64px) !important;
        }
        figcaption {
          padding: 4px 0 0;
        }
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-box {
      padding: 16px;
      figure {
        max-height: calc(100vh - 32px) !important;
        img {
          max-height: calc(100vh - 64px) !important;
        }
        figcaption {
          padding: 4px 0 0;
        }
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-box {
      padding: 16px;
      figure {
        max-height: calc(100vh - 32px) !important;
        img {
          max-height: calc(100vh - 64px) !important;
        }
        figcaption {
          padding: 4px 0 0;
        }
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
